---
import "../styles/global.css";
import Hero from "../components/Hero.astro";
import Sektion2 from "../components/Sektion2.astro";
import Sektion3 from "../components/Sektion3.astro";
import Sektion4 from "../components/Sektion4.astro";
import Sektion5 from "../components/Sektion5.astro";
import Sektion6 from "../components/Sektion6.astro";
import Sektion7 from "../components/Sektion7.astro";
import Sektion8 from "../components/Sektion8.astro";
import Sektion9 from "../components/Sektion9.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <Hero />
    <Sektion2 />
    <Sektion3 />
    <Sektion4 />
    <Sektion5 />
    <Sektion6 />
    <Sektion7 />
    <Sektion8 />
    <Sektion9 />
   


  </body>
</html>
