---
import Line from "./Line.astro";
---

<Line />
<div class="box">
  <p>Men du ved formentligt ikke hvem han er.</p>
</div>
<Line />

<style>
  p {
    font-family: "raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 3vw;
    background-color: black;
    /*  box-shadow: 5px 10px #ff2181; */
    padding-bottom: 2rem;
    text-align: center;
  }

  @media screen and (max-width: 800px) {
    p {
      font-size: 4vw;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".box", {
    opacity: 0,
    duration: 5,
    scrollTrigger: {
      trigger: ".box",
      start: "top 60%",
      end: "bottom 20%",

      /*     markers: true, */
    },
  });
</script>
