---
const { variant } = Astro.props;
---

<!-- <button class={variant + " " + size}><slot /></button> -->
<div id="line" class={variant}>
  <slot />
</div>

<style>
  #line {
    width: 100vw;
    height: 8px;
    margin: 0 0 10px 0;
    position: relative;
    display: inline-block;
    /* background-color: #ff2181; */
  }

  .pink {
    background-color: #ff2181;
  }

  .blue {
    background-color: #3a2caa;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.from("#line", {
    scrollTrigger: {
      trigger: "#line",
      scrub: true,
      start: "top bottom",
      end: "top top",
    },
    scaleX: 0,
    transformOrigin: "left center",
    ease: "none",
  });
</script>
