

<main>
  <title>sektion 7</title>
</main>

<body>
   
<div class="grid-container"></div>
   <div class="grid-item1">
<p>
Stock-fotos har eksisteret i mange år. Før branchen blev digital, tilbød stock-foto virksomhederne billedmapper, der kunne bestilles fra. Men stock-foto branchen var én af de tidlige til at blive fuldt digitaliseret.hvad de skal bruges til. 
</p>
</div>

<div class="grid-item2">
<p>
Stock-fotos er billeder, der kan købes fra et foto-website. De bruges af aviser, til markedsføring og som indhold på websites. En licens til at bruge et foto koster typisk mellem 10 og 100 kroner, alt afhængig af hvad de skal bruges til. 
</p>
</div>

<div class="grid-item3">
<p>
Stock-fotos bliver ofte kritiseret for at være uden sjæl - det er de der billeder af en læge i hvid kittel med stetoskop om halsen på en meget hvid baggrund eller en meget glad dame fra virksomhedens salgs- eller supportafdeling. 
</p>
</div>

<div class="square"></div>

<div class="square2"></div>

<div class="square3"></div>
</body>

<style>

h3 {color:white;}

body {background-color: black;}

p {color: white;}

.square {
  height: 50px;
  width: 50px;
  background-color: 0A1394;
}

.square2 {
  height: 50px;
  width: 50px;
  background-color: 43972B;
}

.square3 {
  height: 50px;
  width: 50px;
  background-color: D13196;
}

</style>