<h1>Test</h1>

<main>
  <title>sektion 7</title>
</main>

<body>
   
<div class="grid-container"></div>
   <div class="grid-item1">
<p>
Fotografering med gode, gammeldags filmruller. Analog fotografering stiger for tiden i popularitet, specielt blandt unge, og prisen på filmruller og vintage-kameraer skyder i vejret.
</p>
</div>

<div class="grid-item2">
<p>
Mange fotografer synes at film-fotografering er mere ægte har mere “sjæl.” Analog fotografering er langsommmere, hvert enkelt billede koster penge, og man bliver nødt til at overveje motiv og lys grundigere før der skydes - tænk før du trykker. 
</p>
</div>

<div class="grid-item3">
<p>
Analog fotografering kan gå galt mange steder i processen, og det giver også mulighed for at eksperimentere med “det uperfekte og uforudsigelige i processen.” 
</p>
</div>

<div class="grid-item4">
<p>
  Man kan f.eks. skyde på for gamle filmruller, arbejde med forskellige teknikker som “lens whacking” og filtre/ting foran objektivet, og man kan pille ved de kemiske processer under fremkaldelse af filmen.
</p>
</div>

</body>

<style>

h3 {color:white;}

body {background-color: black;}

p {color: white;}


</style>