<section>
    <!-- <div id="blitz">
      <div class="blitz">
      <img class="pierre" src="src/assets/blitz.png" alt="blitz">
      </div>
      </div> -->
  
    <div class="boks1">
     <div class="overskrift">
          <h2>Pierres Berømmelse</h2>
      </div>
  </div>
  
  <!-- <div id="blitz1">
    <div class="blitz1">
    <img class="pierre" src="src/assets/images/blitz.png" alt="blitz">
    </div>
    </div> -->
    
  
  <div id="boks2">
  <div class="boks2"> 
      <p class="p">
        Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af film. Pierre fortsatte med at fotografere på film op gennem gymnasietiden. 
      </p>
  </div>
  </div>
  
  <div id="img">
  <div class="img">
  <img class="pierre" src="src/assets/pierre-2.webp" alt="pierre">
  </div>
  </div>
  
  <!-- <div id="blitz2">
    <div class="blitz2">
    <img class="pierre" src="src/images/blitz.png" alt="blitz">
    </div>
    </div> -->
  
  <div id="boks3">
  <div class="boks3">
      <p class="p">Pierre over til digital fotografering i starten af 2000’erne, da han begyndte at studere fotografisk kommunikation på DMJX. Her åbnede en ny verden sig: Reklamefotografering i studie, lyssætning og manipulering af billeder i Photoshop blev hans nye stil. </p>
  </div>
  </div>
  
  <!-- <div id="blitz3">
    <div class="blitz3">
    <img class="pierre" src="src/images/blitz.png" alt="blitz">
    </div>
    </div> -->
  
  <div id="img">
    <div class="img">
    <img class="pierre" src="src/assets/tynd-film.webp" alt="hus">
    </div>
    </div>
  
    <!-- <div id="blitz4">
      <div class="blitz4">
      <img class="pierre" src="src/images/blitz.png" alt="blitz">
      </div>
      </div>
  
      <div id="blitz5">
        <div class="blitz5">
        <img class="pierre" src="src/images/blitz.png" alt="blitz">
        </div>
        </div> -->
  
  <div id="boks4">
  <div class="boks4">
      <p class="p">På det tidspunkt var stock-foto industrien i starten af en revolution: De første online stock-foto websites begyndte at komme på markedet, men de store, etablerede spillere på markedet holdt lidt igen. Pierre så det for sig: </p>
  </div>
  </div>
  
  <!-- <div id="blitz5">
    <div class="blitz6">
    <img class="pierre" src="src/images/blitz.png" alt="blitz">
    </div>
    </div> -->
  
  <div id="boks5">
  <div class="boks5">
      <p class="citation">"</p>
  </div>
  </div>
  
  <div id="boks6">
  <div class="boks6">
      <p class="p">“Om ganske få år er hele branchen digital, og dem der ikke hopper med på den digitale vogn, lukker.”</p>
  </div>
  </div>
  
  <div id="boks7">
  <div class="boks7">
      <p class="p">Så Pierre gav sig selv en udfordring: At blive landets bedst sælgende stock-fotograf. Pierre lejede et gammelt, billigt erhvervslokale i Ishøj industri, fik fløjet billige skuespillere ind fra Polen og Baltikum, og fotograferede 10 timer om dagen.</p>
  </div>
  </div>
  
  <!-- <div id="fly">
    <div class="fly">
    <img class="pierre" src="src/images/fly.png" alt="fly">
    </div>
    </div> -->
  
  <div id="boks8">
  <div class="boks8">
      <p class="p">Pierres profeti om stock-foto branchen holdt stik. Pierre var allerede en af landets bedst sælgende stock-fotografer, før han blev færdig med studiet på DMJX. </p>
  </div>
  </div>
  
  </section>
  
  <style>
  
   
   section {
    margin: var(--size-13);
   }
  
  .boks1 {
      padding-inline: 30%;
      padding-bottom: 25%;
      padding-top: 10%;
  }
  
  .overskrift {
      background-color: #ff2181a3;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
     
    
  }
     
    h2 {
      color: white;
      
      
    }
  
    .p { 
      color: white;
     padding: 3%;
    }
  
  
    .boks2 {
      background-color: #ff2181a3;
    }
    
    #boks2 {
      padding-bottom: 20%;
    }
  
    .boks3 {
      background-color: #3c9494ac;
    }
  
    #boks3 {
      padding-bottom: 50%;
    }
  
    .boks4 {
      background-color: #3A2CAA;
    }
    #boks4 {
      padding-bottom: 50%;
    }
  
    .boks5 {
      justify-content: center;
      text-align: center;
      display: flex;
    }
  
    .citation {
      font-size: 10rem;
      color: white;
      margin: 0;
  
      
    }
  
    .boks6 {
      justify-content: center;
      text-align: center;
      padding-inline: 30%;
      
    
    }
  
    #boks6 {
      padding-bottom: 50%;
    }
  
    .boks7 {
      background-color: #ff2181a3;
    }
    #boks7 {
      padding-bottom: 50%;
    }
    .boks8 {
      background-color: #3c9494ac;
    }
    #boks8 {
      padding-bottom: 50%;
    }
    .pierre {
      width: 100%;
    }
  
    .img { 
      display: grid;
      padding: 15%;
     
    }
  
    #img {
      padding-bottom: 20%;
    }
  
    /* .blitz {
      position: absolute;
      width: 10%;
      top: 290%;
      left: 60%;
    }
    .blitz1 {
      position: absolute;
      width: 15%;
      top: 28%;
      left: 10%;
    }
  
    .blitz2 {
      position: absolute;
      width: 15%;
      top: 130%;
      left: 65%;
    }
  
    .blitz3 {
      position: absolute;
      width: 15%;
      top: 190%;
      left: 8%;
    }
  
    .blitz4 {
      position: absolute;
      width: 15%;
      top: 265%;
      left: 65%;
    }
  
    .blitz5 {
      position: absolute;
      width: 10%;
      top: 340%;
      left: 80%;
    }
  
    .blitz6 {
      position: absolute;
      width: 15%;
      top: 370%;
      left: 10%;
    }
  
    .fly {
      position: absolute;
      width: 15%;
      top: 540%;
      left: 80%;
      transform: rotate(10deg);
    } */

    @media (max-width: 1000px) {
      section {
    margin: var(--size-10);
   }
  
  .boks1 {
      padding-inline: 20%;
      padding-bottom: 25%;
      padding-top: 10%;
  }
  
  .overskrift {
      background-color: #ff2181a3;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
     
    
  }
     
    h2 {
      color: white;
      
      
    }
  
    .p { 
      color: white;
     padding: 3%;
    }
  
  
    .boks2 {
      background-color: #ff2181a3;
    }
    
    #boks2 {
      padding-bottom: 20%;
    }
  
    .boks3 {
      background-color: #3c9494ac;
    }
  
    #boks3 {
      padding-bottom: 50%;
    }
  
    .boks4 {
      background-color: #3A2CAA;
    }
    #boks4 {
      padding-bottom: 50%;
    }
  
    .boks5 {
      justify-content: center;
      text-align: center;
      display: flex;
    }
  
    .citation {
      font-size: 10rem;
      color: white;
      margin: 0;
  
      
    }
  
    .boks6 {
      justify-content: center;
      text-align: center;
      padding-inline: 30%;
      
    
    }
  
    #boks6 {
      padding-bottom: 50%;
    }
  
    .boks7 {
      background-color: #ff2181a3;
    }
    #boks7 {
      padding-bottom: 50%;
    }
    .boks8 {
      background-color: #3c9494ac;
    }
    #boks8 {
      padding-bottom: 50%;
    }
    .pierre {
      width: 100%;
    }
  
    .img { 
      display: grid;
      padding: 15%;
     
    }
  
    #img {
      padding-bottom: 20%;
    }
    }
  
  </style>