---
---

<section id="sektion2">
  <div class="fakta">
    <div class="fakta_1"><h2>Pierre Falcke sælger 2 millioner fotos om året.</h2></div>
    <div class="fakta_2"><h2>Det svarer til én fotolicens hvert 16. sekund.</h2></div>
    <div class="fakta_3"><h2>Du ser hans fotos ca. 2 gange om dagen.</h2></div>
  </div>
</section>

<style>
  section {
    background-image: url(/assets/img/pierre.webp);
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }

  h2 {
    padding: 10px;

    font-size: 3vw;
    margin-inline: 2rem;
  }

  .fakta {
    padding-block: 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-inline: 10vw;
  }

  .fakta_1 {
    background: var(--10, rgba(255, 33, 129, 0.74));
  }

  .fakta_2 {
    background: var(--12, #3a2caa);
    mix-blend-mode: hard-light;
  }

  .fakta_3 {
    background: var(--11, rgba(60, 148, 148, 0.75));
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".fakta", {
    xPercent: 100,
    duration: 1,
    scrollTrigger: {
      trigger: ".fakta",
      end: "bottom 80%",
      scrub: true,
    },
  });
</script>
