---
---

<section>
  <div class="fakta">
    <div class="fakta_1"><p>Pierre Falcke sælger 2 millioner fotos om året.</p></div>
    <div class="fakta_2"><p>Det svarer til én fotolicens hvert 16. sekund.</p></div>
    <div class="fakta_3"><p>Du ser hans fotos ca. 2 gange om dagen.</p></div>
  </div>
</section>

<style>
  section {
    background-image: url(../assets/pierre.webp);
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }

  p {
    font-family: "raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    color: white;
    font-size: 3vw;
    margin-inline: 2rem;
  }

  .fakta {
    padding-block: 5vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    margin-inline: 10vw;
  }

  .fakta_1 {
    background: var(--10, rgba(255, 33, 129, 0.74));
  }

  .fakta_2 {
    background: var(--12, #3a2caa);
    mix-blend-mode: hard-light;
  }

  .fakta_3 {
    background: var(--11, rgba(60, 148, 148, 0.75));
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".fakta", {
    xPercent: 100,
    duration: 1,
    stagger: 0.5,
    scrollTrigger: {
      trigger: ".fakta",
      end: "bottom 80%",
      scrub: true,
      markers: true,
    },
  });
</script>
